.MuiTableHead-root th {
    background-color: #a4a9fc;
    font-weight: bold;
}
.MuiTableFooter-root{
    background-color: #a4a9fc;
    font-weight: bold;
}
.custom-table-title {
    font-size: 20px;
    font-weight: bold;
}
.table .custom-column {
    color:#3da58a;
}
.MUIDataTableToolbarSelect-iconButton-root {
    display: none;
}
.tss-1fz4yw6-MUIDataTableSelectCell-fixedLeft {
    left: unset !important;
}

.custom-table button[aria-label="Delete Selected Rows"] {
    display: none;
}

.custom-table button[aria-label="download"]:hover{
    color:#141b2d;
}

.custom-table td:nth-child(1) {
    vertical-align: top;
    padding-top: 4px;
}

/* Performance */

.custom-table-perform button[aria-label="Delete Selected Rows"] {
    display: none;
}

.custom-table-perform button[aria-label="download"]:hover{
    color:#141b2d;
}

.custom-table-perform td:nth-child(1) {
    vertical-align: top;
    padding-top: 4px;
}

.custom-table-perform td:nth-child(14) {
    vertical-align: top;
    padding-top: 5px;
}